// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
$background-color:  #0000A0;

$title-color:       rgba(255, 255, 255, 0.7);
$moreinfo-color:    rgba(255, 255, 255, 0.7);

$moreinfo-color:    rgba(255, 255, 255, 0.7);
// ----------------------------------------------------------------------------
// Widget-comment styles
// ----------------------------------------------------------------------------
.widget-exchange-calendar {

  background-color: $background-color;

  .event {
    overflow: hidden;
  }

  .title {
    color: white;
    font-size: 46px;
    width: 100%;
    overflow: hidden;
    text-overflow: elipsis;
    white-space: nowrap;
  }

  .start {
    color: #ccccff;
    font-size: 25px;
  }

}